# Workflow

name: Deployment automation to Digital Ocean Container Registry

# run workflow only when we create release
on:
  release:
    types:
      - created

jobs:
  build:
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install dependencies
        run: npm install

      - name: Build Next.js app
        run: npm run build

      - name: Archive production build
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: .next

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Build container image
        run: docker build -t ${{ secrets.REGISTRY_NAME }}/jware:$(echo $GITHUB_SHA | head -c7) .

      - name: Log in to DigitalOcean Container Registry with access token
        run: doctl registry login --access-token ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Push image to DigitalOcean Container Registry
        run: docker push ${{ secrets.REGISTRY_NAME }}/jware:$(echo $GITHUB_SHA | head -c7)
